{% extends 'base.html' %}

{% block title %}
  Se connecter
{% endblock %}

{% block content %}
  <div class="content-register">
    <div>
      <form method="post">
        <div class="input-container">
          <label for="email">Email</label>
          <input type="email" id="email" required name="email" placeholder="john.doe@gmail.com">
        </div>
        <div class="input-container">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" required name="password" placeholder="......">
      </div>
      <body>8 caractères au minimum</body>
      <u>Mot de passe oublié ?</u>
      <body>Ou</body>
      <body>Pas de compte? <u>Inscrivez-vous</u></body>
      <img class="image-container" src="{{url_for('static', filename='imgs/illustration_connexion.png')}}" alt="Image pour illuster la connexion"/>
        <input type="submit" value="SE CONNECTER">
      </form>

      {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}