{% extends 'base.html' %}

{% block title %}
  S'enregistrer
{% endblock %}

{% block content %}
  <div class="content-register">
    <div>
      <form method="post">
        <label for="email">Email</label>
        <input name="email" id="email" required>
        <label for="mot_de_passe">Mot de passe</label>
        <input type="mot_de_passe" name="mot_de_passe" id="mot_de_passe" required>
        <input type="submit" value="CRÉER MON COMPTE">
      </form>
    
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}