{% extends 'base_auth.html' %}

{% block title %}
  S'enregistrer
{% endblock %}

{% block content %}
<div class="grid-container-register">
  <form id="register" method="post">
    <h1>Créer un compte</h1>
    <img id="user_icon-register" src="{{url_for('static', filename='imgs/user.svg')}}" alt="Icône d'utilisateur"/>
  
    <div class="champs">
      <div class="input-container">
        <label for="role-select">Choisissez votre rôle :</label>
        <select id="role-select" required name="role"> 
            <option value="joueur">Joueur</option>
            <option value="coach">Coach</option>
        </select>
      </div>
  
      <div class="input-container">
        <label for="prenom">Prénom</label>
        <input type="prenom" id="prenom" required name="prenom" placeholder="John">
      </div>
      
      <div class="input-container">
        <label for="nom">Nom</label>
        <input type="nom" id="nom" required name="nom" placeholder="Doe">
      </div>
   
      <div class="input-container">
        <label for="email">Email</label>
        <input type="email" id="email" required name="email" placeholder="john.doe@gmail.com">
      </div>
  
      <div class="input-container">
        <label for="mot_de_passe">Mot de passe</label>
        <input type="password" id="mot_de_passe" required name="mot_de_passe" required minlength="8" placeholder="......">
      </div>

    </div>
    
    <p id="car-min">8 caractères au minimum</p>
    <input type="submit" value="CRÉER MON COMPTE">

    <div class="ligne-autour">
      <p>Ou</p>
    </div>
    
    <div class="fin-register">
      <p id="compte">Déjà un compte?</p>
      <a href="{{url_for('auth.login') }}" id="connexion">Connectez-vous</a>
    </div>
    
  </form>
  <div class="image-container-register">
    <img id="connexion_img" src="{{url_for('static', filename='imgs/illustration_connexion.png')}}" alt="Image pour illuster l'inscription"/>
  </div>
    
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}