{% extends 'base_auth.html' %}

{% block title %}
  Connexion Réussie
{% endblock %}

{% block content %}
  <div class="grid-container-validation">
    <div class="message">
        <h1>Connexion réussie!</h1>
        <p>Vous allez être redirigé vers l'accueil...</p>
        <img id="validation_icon" src="{{url_for('static', filename='imgs/icone_validation.svg')}}" alt="Icône validation"/>
    </div>
  </div>

  <script>
    // Redirection vers la page d'accueil après 1 seconde
    setTimeout(function() {
        window.location.href = "{{ url_for('home.landing_page') }}";
    }, 1000);
  </script>
{% endblock %}