{% extends 'base_auth.html' %}

{% block title %}
  Connexion Réussie
{% endblock %}

{% block content %}
  <div class="grid-container-validation">
    <div class="message">
        <h1>{% if request.args.get('action') == 'created' %}Cours créé!{% else %}Cours modifié!{% endif %}</h1>
        <p>
            {% if request.args.get('action') == 'created' %}
                Votre cours a été enregistré avec succès ! Les joueurs peuvent désormais le consulter et s’y inscrire.
            {% else %}
                Votre cours a été modifié avec succès. Les joueurs peuvent désormais consulter les mises à jour.
            {% endif %}
        </p>
        <img id="validation_icon" src="{{ url_for('static', filename='imgs/icone_validation.svg') }}" alt="Icône validation"/>
    </div>
  </div>

  <script>
    // Redirection vers la page d'accueil après 3 secondes
    setTimeout(function() {
        window.location.href = "{{ url_for('home.landing_page') }}";
    }, 3000);
  </script>
{% endblock %}
