{% extends 'base.html' %}

{% block title %}
  Création de cours
{% endblock %}

{% block content %}
<div class="form-container">
    <img id="illustration_creation_cours" src="{{ url_for('static', filename='imgs/illustration_creation_cours.png') }}">
    <form class="inputs-creation" method="post">
        {% if g.has_course %}
            <h1>Modifiez votre cours</h1>
        {% else %}
            <h1>Commencez à créer votre cours</h1>
        {% endif %}


        <!-- Sélection du canton -->
        <h5 for="canton-select">Votre canton</h5>
        <select id="canton-select" required name="canton">
            {% for canton in ['Vaud', 'Valais', 'Genève', 'Fribourg', 'Neuchâtel', 'Jura'] %}
                <option value="{{ canton }}" {% if data['canton'] == canton %}selected{% endif %}>{{ canton }}</option>
            {% endfor %}
        </select>

        <!-- Sélection de la langue -->
        <h5 for="langue-select">Votre langue</h5>
        <select id="langue-select" required name="langue">
            {% for langue in ['Français', 'Allemand', 'Anglais', 'Fribourg', 'Autres'] %}
                <option value="{{ langue }}" {% if data['langue'] == langue%}selected{% endif %}>{{ langue }}</option>
            {% endfor %}
        </select>

        <!-- Tarif -->
        <div class="input-creation" id="input-tarif">
            <h5>Votre tarif horaire (CHF)</h5>
            <input type="number" id="tarif" name="tarif" min="0" max="1000" step="1" value="{{ data['tarif'] }}" />
        </div>

        <!-- Ville -->
        <div class="input-creation">
            <h5>Votre ville</h5>
            <textarea id="ville" name="ville" placeholder="Écrivez ici..">{{ data['ville'] }}</textarea>
        </div>

        <!-- À propos -->
        <div class="input-creation">
            <h5>À propos de vous</h5>
            <textarea id="apropos" name="apropos" placeholder="Écrivez ici..">{{ data['apropos'] }}</textarea>
        </div>

        <!-- Description du cours -->
        <div class="input-creation">
            <h5>Description de votre cours</h5>
            <textarea id="description" name="description" placeholder="Écrivez ici..">{{ data['description'] }}</textarea>
        </div>

        <!-- Disponibilités -->
        <fieldset>
            <h5>Cochez vos disponibilités</h5>
            {% for jour in ['lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi', 'dimanche'] %}
                <p class="dispo">
                    <input type="checkbox" name="disponibilite" value="{{ jour }}" 
                           {% if jour in data['disponibilites'] %}checked{% endif %}> 
                    {{ jour.capitalize() }}
                </p>
            {% endfor %}
        </fieldset>

        <!-- Bouton d'envoi -->
        <button type="submit" class="bouton-icon">
            Envoyer 
            <img src="{{ url_for('static', filename='imgs/icone_envoie_message.svg') }}">
        </button>
    </form>
</div>
{% endblock %}
