{% extends 'base_auth.html' %}

{% block title %}
  Se connecter
{% endblock %}

{% block content %}
  <div class="grid-container-login">
    <form id="login" method="post" action="{{ url_for('password.mot_de_passe_oublie') }}">
      <h1>Mot de passe oublié ?</h1>
      <img id="user_icon-login" src="{{ url_for('static', filename='imgs/user.svg') }}" alt="Icône d'utilisateur" />
      
      <div class="champs">
        <button type="submit">Saisissez le code</button>
      </div>
    </form>

    <div class="image-container-login">
      <img id="connexion_img" src="{{ url_for('static', filename='imgs/illustration_connexion.png') }}" alt="Image de connexion" />
    </div>
  </div>

{% endblock %}