{% extends 'base_profile.html' %}

{% block title %}
  Page d'accueil
{% endblock %}

{% block content%}
<div class="messagerie-page">
    <div class="partie-gauche-discu">
        <h1>Messages</h1>
        <div class="search-container-contact">
            <form method="POST" class="search-contact">
                <button type="submit" class="search-btn-contact">
                    <img src="{{ url_for('static', filename='imgs/icone_barre_recherche_.svg') }}" alt="Recherche" class="search-icon">
                </button>
                <input type="text" name="search_contact" class="search-bar" placeholder="Rechercher">
            </form>
        </div>
        <div class="liste-contacts">
            {% for coach in coaches %}
                <div class="contact-dans-liste" onclick="ouvrirDiscussion('{{ coach['coach_id'] }}')">
                    <div class="image-nom-dernier-message">
                        <img id="profile-petit" src="{{ url_for('static', filename='uploads/' + coach['chemin_vers_image']) }}" alt="Photo de {{ coach['nom'] }} ">
                        <div class="nom-contact-infos">
                            <h6>{{ coach['prenom'] }} {{ coach['nom'] }}</h6>
                            <p>{{ coach['dernier_message'] }}</p>
                        </div>
                    </div>
                    <div class="date-nbre_message">
                        <!-- Affichage de l'heure du dernier message -->
                        <p>{{ coach['derniere_date_message'][11:16] }}</p> <!-- Extrait de l'heure -->
                        <p class="nbre-message_non_lues">2</p><!-- à modifier -->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if coach_nom %}
        <div class="partie-droite-discu">
            <div class="partie-droite-discu-haut">
                <div class="image-infos">
                    <div class="image-contact">
                        <img id="profile-petit" src="{{ url_for('static', filename='uploads/' + (coach_image if coach_image else 'user.svg')) }}" alt="Photo de {{ coach_nom }} ">
                        <div class="nom-contact-infos">
                            <h6>{{ coach_prenom }} {{ coach_nom }}</h6>
                            <p>En ligne le</p>
                        </div>
                    </div>
                    <div class="appel-plus">
                        <img src="{{ url_for('static', filename='imgs/appel_barre_top.png') }}">
                        <img src="{{ url_for('static', filename='imgs/more_contact.png') }}">
                    </div>
                </div>
            </div>
            <div class="partie-droite-discu-bas">
                {% set ns = namespace(last_date=None) %}
                {% for message in messages %}
                    {% set message_date = message[3][:10] %}  {# Extraire YYYY-MM-DD #}

                    {% if ns.last_date is none or ns.last_date != message_date %}
                        <div class="date-section-message">
                            {% if message_date == current_date.strftime('%Y-%m-%d') %}
                                <p>Aujourd'hui</p>
                            {% elif message_date == (current_date - timedelta(days=1)).strftime('%Y-%m-%d') %}
                                <p>Hier</p>
                            {% else %}
                                <p>{{ message_date }}</p>
                            {% endif %}
                        </div>
                        {% set ns.last_date = message_date %} {# Mise à jour après l'affichage du diviseur #}
                    {% endif %}
                    <div class="{% if message[0] == user_id %}message-soi{% else %}message-autre-personne{% endif %}">
                        <p class="texte-message">{{ message[4] }}</p>
                        <span class="message-heure">{{ message[3][11:16] }}</span>
                    </div>                    
                {% endfor %}
                <form action="{{ url_for('messagerie.discussion', coach_id=coach_id) if coach_id else url_for('messagerie.discussion') }}" method="POST" class="message-bar">
                    
                    <input type="hidden" name="coach_id" value="{{ coach_id }}">
                    
                    <input type="text" name="envoie-message" class="message-contenu" placeholder="Écrivez ici...">
                    
                    <div class="icons">
                        <img src="{{ url_for('static', filename='imgs/mic.svg') }}" alt="Micro" class="icon">
                        <img src="{{ url_for('static', filename='imgs/image-envoie.svg') }}" alt="Image" class="icon">
                        <img src="{{ url_for('static', filename='imgs/div_vertical.svg') }}" alt="diviseur" class="diviseur">
                        <button type="submit" class="envoyer-btn">
                            <img src="{{ url_for('static', filename='imgs/envoie.svg') }}" alt="Envoyer" class="icon">
                        </button>
                    </div>
                </form>

            </div> 
        </div>
    {% else %}
        <div class="partie-droite-discu">
            <div class="partie-droite-discu-haut">
                <div class="image-infos">
                    <div class="image-contact">
                        <div class="nom-contact-infos">
                        </div>
                    </div>
                </div>
            </div>
            <div class="partie-droite-discu-bas">
            </div>
        </div>
    {% endif %}


<script>
    function ouvrirDiscussion(coach_id) {
        window.location.href = "/messagerie/discussion/" + coach_id;
    }
</script>
        

{% endblock %}
