{% extends 'base_profile.html' %}

{% block title %}
  Profil
{% endblock %}

{% block content %}
<div class ="page-entier">
  <img id="profile_illustration" src="{{url_for('static', filename='imgs/illustration_modification_profil.png') }}"/>
  <div class="content-profile">
    <div class="content-profile-title">
      <h1>Mon profil</h1>
      <p>Gérez votre profil</p>
    </div>

    <h2>Votre photo de profil</h2>

    <div class="relatif-a-photo">
      <img id="profile-grand" src="{{ url_for('static', filename='imgs/user.svg') if not profile_image else url_for('static', filename='uploads/' ~ profile_image) }}"/>

      <div class="bouton-container">
        <form id="upload-form" method="POST" action="/profile" enctype="multipart/form-data">
          <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Choisir une image
          </label>
          <input id="file-upload" type="file" name="file" required onchange="document.getElementById('upload-form').submit()">
        </form>
      </div>
    </div>
  </div>
</div>
      

    <h2>Vos informations personnels</h2>
    <div class="relatif-a-champ">

      <div class="champs">
        <div class="input-container">
          <label for="prenom">Prénom</label>
          <input type="prenom" id="prenom" required name="prenom" placeholder={{g.user.prenom}} readonly>
        </div>

        <div class="input-container">
          <label for="nom">Nom</label>
          <input type="nom" id="nom" required name="nom" placeholder={{g.user.nom}} readonly>
        </div>
      
        <div class="input-container">
          <label for="email">Email</label>
          <input type="email" id="email" required name="email" placeholder={{g.user.email}} readonly>
        </div>
    
        <div class="input-container">
          <label for="mot_de_passe">Mot de passe</label>
          <input type="password" id="mot_de_passe" required name="mot_de_passe" required minlength="8" placeholder="············" readonly>
        </div>
      </div> 

      <div class="modif-container">
        <button class="bouton-icon">MODIFIER <img src="{{url_for('static', filename='imgs/icone_crayon_modification.svg') }}"/></button>
        <button class="bouton-icon">RÉINITIALISER <img src="{{url_for('static', filename='imgs/icone_crayon_modification.svg') }}"/></button>
      </div>
    </div>
  </div>
</div>

<script>
</script>
{% endblock %}

