{% extends 'base.html' %}

{% block title %}
  Page d'accueil
{% endblock %}

{% block content%}
<div id="page_conditions_utilisation">
    <h2>Conditions Générales d’Utilisation</h2>
    
    <p>Les présentes conditions générales d’utilisation (CGU) ont pour objet de définir les modalités de mise à disposition et d’utilisation du site ttcoach.ch par ses utilisateurs.</p>
    
    <h3>1. Acceptation des CGU</h3>
    <p>
    En accédant au site, en le consultant ou en utilisant ses services, l’utilisateur reconnaît avoir pris connaissance des présentes CGU et les accepter sans réserve.
    </p>
    
    <h3>2. Description du service</h3>
    <p>
    Le site permet aux utilisateurs de :
    </p>
    <ul>
      <li>Consulter des profils d’entraîneurs de tennis de table</li>
      <li>Créer un compte personnel</li>
      <li>Échanger des messages via une messagerie intégrée</li>
      <li>Laisser des avis sur les coachs</li>
    </ul>
    
    <h3>3. Accès au site</h3>
    <p>
    Le site est accessible gratuitement à tout utilisateur disposant d’un accès à internet. Certaines fonctionnalités sont réservées aux utilisateurs inscrits et connectés.
    </p>
    
    <h3>4. Obligations des utilisateurs</h3>
    <p>En utilisant le site, l’utilisateur s’engage à :</p>
    <ul>
      <li>Fournir des informations exactes lors de l’inscription</li>
      <li>Ne pas usurper l’identité d’un tiers</li>
      <li>Respecter les autres utilisateurs et ne pas publier de contenu offensant, illégal ou contraire aux bonnes mœurs</li>
      <li>Ne pas utiliser le site à des fins commerciales sans autorisation</li>
    </ul>
    
    <h3>5. Propriété intellectuelle</h3>
    <p>
    Le contenu du site (textes, images, logo, structure) est protégé par le droit d’auteur. Toute reproduction ou utilisation non autorisée est interdite sans accord préalable.
    </p>
    
    <h3>6. Responsabilité</h3>
    <p>
    Le responsable du site ne peut être tenu responsable :
    </p>
    <ul>
      <li>des propos ou contenus publiés par les utilisateurs</li>
      <li>des erreurs ou interruptions de service</li>
      <li>des éventuels dommages indirects liés à l’utilisation du site</li>
    </ul>
    
    <h3>7. Données personnelles</h3>
    <p>
    L’utilisation du site implique la collecte de certaines données personnelles. Pour en savoir plus, veuillez consulter la <a href="{{ url_for('legal.politique_confidentialite') }}">Politique de confidentialité</a>.
    </p>
    
    <h3>8. Modification des CGU</h3>
    <p>
    Les présentes CGU peuvent être modifiées à tout moment. Les utilisateurs sont invités à les consulter régulièrement.
    </p>
    
    <h3>9. Loi applicable</h3>
    <p>
    Les présentes CGU sont régies par le droit français. En cas de litige, les tribunaux français seront seuls compétents.
    </p>
    
    <h3>10. Contact</h3>
    <p>
    Pour toute question, vous pouvez nous contacter à : <strong>ttcoach.tm@gmail.com
    </strong>
    </p>
</div>

{% endblock %}