{% extends 'base.html' %}

{% block title %}
  Page d'accueil
{% endblock %}

{% block content%}
<div id="page_mentions_legales">
  <h1>Mentions légales</h1>
  <h2>Informations générales</h2>
  <p>Le présent document constitue les mentions légales régissant l’utilisation du site internet https://www.ttcoach.ch/ (ci-après dénommé « le Site »). Veuillez lire attentivement ces mentions légales avant de parcourir ou d’utiliser le Site. En accédant ou en utilisant le Site, vous acceptez d’être lié par ces mentions légales. Si vous n’acceptez pas ces conditions, veuillez cesser d’utiliser le Site immédiatement.</p>
  
  <h2>Propriétaire du site</h2>
  <p>Le Site est détenu et exploité par Axel Reichenbach (ci-après dénommé « le Propriétaire »). Les coordonnées du Propriétaire sont les suivantes :</p>
  
  <p>2LPT Sàrl</p>
  <p>Le Rialet 48,</p>
  <p>1628 Vuadens, Suisse</p>
  <p>ttcoach.tm@gmail.com</p>
  
  <h2>Hébergement</h2>
  <p>Le Site est hébergé par Infomaniak (ci-après dénommé « l’Hébergeur »). Les coordonnées de l’Hébergeur sont les suivantes :</p>
  
  <p>Infomaniak Network SA</p>
  <p>Rue Eugène Marziano 25</p>
  <p>1227 Genève – Suisse</p>
  
  <h2>Contenu du site</h2> 
  <p>Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner ce site et plus généralement tous les éléments reproduits ou utilisés sur le site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.
  
  Ils sont la propriété pleine et entière de l’éditeur ou de ses partenaires. Toute reproduction, présentation, utilisation ou adaptation,
   sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications informatiques, sans l’accord préalable et écrit de l’éditeur, sont strictement interdites. Le fait pour l’éditeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation des dites utilisations et renonciation aux poursuites.
  
  L’ensemble du contenu de ce site ne peut être utilisé et/ou reproduit sous quelque forme ou support que ce soit sans son accord préalable et écrit.
   Les logos et marques figurant sur ce site sont protégés et ne peuvent être reproduits ou utilisés sans autorisation.
  
  La création de liens hypertextes vers le présent site ne peut être faite qu’avec l’accord préalable et écrit de l’Editeur qui décline toute responsabilité
   concernant le contenu des sites quels qu’ils soient, liés au présent site.</p>
  
  <h2>Données personnelles</h2>
  <p>Vous disposez d’un droit d’accès, de rectification et de suppression des données relatives aux informations vous concernant. 
  Vous pouvez l’exercer en nous envoyant un courrier à l’adresse suivante: ttcoach.tm@gmail.com</p>
  
  <h2>Propriété intellectuelle</h2>
  <p>L’ensemble du contenu de ce site est la propriété de l’Editeur et ne peut être utilisé et/ou reproduit sous quelque forme ou support que ce soit sans son accord préalable et écrit. Les logos et marques figurant sur ce site sont protégés et ne peuvent être reproduits ou utilisés sans autorisation. La création de liens hypertextes vers le présent site ne peut être faite qu’avec l’accord préalable et écrit de l’Editeur qui décline toute responsabilité concernant le contenu des sites quels qu’ils soient, liés au présent site.</p>
  
  <h2>Cookies</h2>
  <p>L’Editeur se réserve la possibilité d’envoyer des cookies vers l’ordinateur de l’utilisateur au moment de la connexion. Ces cookies sont des fichiers permettant d’enregistrer les informations relatives à la navigation de l’ordinateur sur le site. Le visiteur peut s’opposer à l’enregistrement de cookies en configurant son ordinateur dans ce sens.</p>
  
  <h2>Responsabilité</h2>
  <p>ttcoach.ch décline toute responsabilité quant à l’usage qui peut être fait des informations diffusées sur son site. Le contenu du site peut comporter des inexactitudes techniques, erreurs typographiques ou omissions. Ce contenu peut être modifié ou mis à jour sans préavis. Les éventuels liens hypertexte présents sur le site qui aiguillent les utilisateurs vers d’autres sites Internet n’engagent pas la responsabilité du Propriétaire quant au contenu des autres sites.
  
  ttcoach.ch ne saurait être responsable de tout dommage direct ou indirect résultant ou consécutif à la diffusion par une tierce personne d’un virus par l’intermédiaire de mon site et susceptible d’infecter le système informatique ou la configuration informatique de l’ordinateur de l’utilisateur à la suite d’une connexion, l’utilisation, la navigation, téléchargement à ce site.
  
  La responsabilité de l’éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement, empêchant l’accès au site ou à une de ses fonctionnalités.
  
  Le matériel de connexion au site que vous utilisez est sous votre responsabilité. Vous devez prendre toutes les mesures appropriées pour protéger votre matériel et vos propres données notamment d’attaques virales par internet. Vous êtes par ailleurs le seul responsable des sites et données que vous consultez.
  
  L’éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à votre encontre :
  
  du fait de l’usage du site ou de tout service accessible via internet
  du fait du non-respect par vous des présentes mentions légales
  L’éditeur n’est pas responsable des dommages causés à vous-même, à des tiers et/ou à votre équipement du fait de votre connexion ou de votre utilisation du site et vous renoncez à toute action contre lui de ce fait.
  
  Si l’éditeur venait à faire l’objet d’une procédure amiable ou judiciaire en raison de votre utilisation du site, il pourra se retourner contre vous pour obtenir indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient découler de cette procédure.</p>
  
  <h2>Liens externes</h2>
  <p>Le Site peut contenir des liens vers des sites internet de tiers. Ces liens sont fournis à titre informatif uniquement. Le Propriétaire n’exerce aucun contrôle sur le contenu de ces sites et décline toute responsabilité quant à leur contenu, leur exactitude ou leur légalité. L’inclusion de liens vers des sites tiers ne signifie pas une approbation ou une association avec ces sites.</p>
  
  <h2>Modifications des mentions légales</h2>
  <p>Le Propriétaire se réserve le droit de modifier les présentes mentions légales à tout moment, sans préavis. Les modifications entreront en vigueur dès leur publication sur le Site. Il est de votre responsabilité de consulter régulièrement les mentions légales pour vous tenir informé des éventuelles modifications.</p>
  
  <h2>Droit applicable et juridiction</h2>
  <p id="last_mentions_legales">Les présentes mentions légales sont régies par les lois en vigueur en Suisse. Tout litige découlant de l’utilisation du Site sera soumis à la juridiction exclusive des tribunaux compétents de Suisse.
  
  Si vous avez des questions concernant ces mentions légales, veuillez me contacter à l’adresse e-mail suivante : ttcoach.tm@gmail.com</p>
  
  <p>Dernière mise à jour : 20 mai 2025.</p>
</div>
{% endblock %}