{% extends 'base.html' %}

{% block title %}
  Page d'accueil
{% endblock %}

{% block content%}
<div id="page_politique_confidentialite">
  <h1>Politique de confidentialité</h1>
  <p>
  La présente politique de confidentialité a pour but d’informer les utilisateurs du site sur les données personnelles pouvant être collectées, leur traitement, leur usage et leurs droits.
  </p>

  <h2>1. Responsable du traitement</h2>
  <p>
  Le responsable du traitement des données est : Axel Reichenbach<br>
  Adresse : Le Rialet 48, 1628 Vuadens<br>
  Email : ttcoach@gmail.com
  </p>

  <h2>2. Données collectées</h2>
  <p>
  Le site ne collecte que les données strictement nécessaires à son fonctionnement, notamment :
  </p>
  <ul>
    <li>Adresse email (lors de l’inscription ou de l’envoi de messages)</li>
    <li>Nom ou pseudonyme (si fourni par l’utilisateur)</li>
    <li>Messages envoyés via la messagerie intégrée</li>
  </ul>
  <p>
  Aucune donnée personnelle n’est collectée à l’insu de l’utilisateur. Les données ne sont jamais revendues à des tiers.
  </p>

  <h2>3. Finalités du traitement</h2>
  <p>
  Les données sont collectées dans le cadre des finalités suivantes :
  </p>
  <ul>
    <li>Création et gestion de comptes utilisateurs</li>
    <li>Accès sécurisé à l’espace personnel</li>
    <li>Échange de messages entre utilisateurs</li>
    <li>Amélioration du service</li>
  </ul>


  <h2>Cookies</h2>
  <h3>1. Qu’est-ce qu’un cookie ?</h3>
  <p>Un cookie est un petit fichier texte enregistré sur le terminal de l’utilisateur (ordinateur, smartphone, tablette) lors de la visite d’un site internet. Il permet à un site de reconnaître un utilisateur et de stocker des informations temporaires utiles à sa navigation.</p>
  <h3>2. Cookies utilisés sur ce site</h3>
  <p>Ce site utilise uniquement un cookie de session, strictement nécessaire à son fonctionnement.</p>
  
  <h4>Cookie de session</h4>
  <p>Nom : session</p>
  <p>Finalité : Ce cookie permet de maintenir active la session utilisateur pendant la navigation (par exemple après une connexion), afin de garantir l’accès aux fonctionnalités personnalisées du site.</p>
  <p>Type : Cookie technique, essentiel</p>
  <p>Durée de conservation : Le cookie est supprimé automatiquement à la fermeture du navigateur.</p>
  <p>Données contenues : Ce cookie ne contient pas de données personnelles directement identifiables. Il stocke uniquement un identifiant de session aléatoire.</p>
  
  <h3>3. Consentement</h3>
  <p>Conformément aux recommandations de la CNIL, ce cookie est exempté de consentement, car il est strictement nécessaire au fonctionnement du service explicitement demandé par l’utilisateur (authentification, navigation sécurisée, accès à un compte, etc.).</p>
  <p>Aucun cookie de type publicitaire, de mesure d’audience ou de suivi tiers n’est utilisé.</p>
</div>
{% endblock %}