<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header id="header">
        <nav id="header-nav">
            <div id="header-nav-logo">
                <a href="{{url_for('home.landing_page') }}">
                    <img src="{{url_for('static', filename='imgs/logo.svg') }}" alt="logo"/>
                </a>
            </div>
            <ul id="header-nav-menu">
                {% if g.user %}
                    <li><a class="lien-page" href="{{ url_for('home.landing_page') }}">Accueil</a></li>
                    {% if g.role == 'Joueur' %}
                        <li><a class="lien-page" href="{{ url_for('home.landing_page') }}">Recherche de coach</a></li>
                        <li><a class="lien-page" href="{{ url_for('home.landing_page') }}">Mes discussions</a></li>
                    {% else %}
                        <li><a class="lien-page" href="{{ url_for('coach.create_course') }}">Proposer un cours</a></li>
                        <li><a class="lien-page" href="{{ url_for('home.landing_page') }}">Mes discussions</a></li>
                    {% endif %}

                {% if profile_image %}
                    <img id="profile-petit-perso" src="{{ url_for('static', filename='uploads/' + profile_image) }}" class="user-pic" onclick="toggleMenu()" alt="photo de profil"/>
                {% else %}
                    <img id="profile-petit" src="{{ url_for('static', filename='imgs/user.svg') }}" class="user-pic" onclick="toggleMenu()" alt="photo de profil"/>
                {% endif %}                
                <div class="sub-menu-wrap" id="subMenu">
                    <div class="sub-menu">
                        <div class="user-info">
                            <p id="prenom-nom">{{g.user.prenom}} {{g.user.nom}}</p>
                            <p id="role">{{ role }}</p>
                        </div>

                        <a href="{{ url_for('user.profile') }}" class="sub-menu-link">
                            <img id="user" src="{{url_for('static', filename='imgs/user-gris.svg') }}" alt="icône profil">
                            <p>Profil</p>
                        </a>

                        <a href="{{ url_for('auth.logout') }}" class="sub-menu-link">
                            <img id="deconnexion" src="{{url_for('static', filename='imgs/icone_se_deconnecter.svg') }}" alt="icône déconnexion">
                            <p>Se déconnecter</p>
                        </a>
                    </div>
                </div>

                {% else %}
                <li><a class="lien-page" href="{{ url_for('home.landing_page') }}">Accueil</a>
                <li><a class="lien-page" href="{{ url_for('home.landing_page') }}">Recherche de coach</a>
                <li><a class="lien-page" href="{{ url_for('home.landing_page') }}">Mes discussions</a>
                <li><a class="lien-page" href="{{ url_for('auth.login') }}">Se connecter</a>
                <li><a href="{{ url_for('auth.register') }}" id="bouton_fonce">S'INSCRIRE</a>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main id="main-content">
        {% block content %}
        {% endblock %}
    </main>

        
    <script>
        function toggleMenu() {
            const subMenu = document.getElementById("subMenu");
            subMenu.classList.toggle("open-menu");
        }
        
        document.addEventListener("click", function(e) {
            const subMenu = document.getElementById("subMenu");
            const userPic = document.querySelector(".user-pic");
  
    // Si le clic n'est pas dans le menu et pas sur l'icône de profil
    if (!subMenu.contains(e.target) && !userPic.contains(e.target)) {
        subMenu.classList.remove("open-menu"); // Fermer le menu
    }
    });

        
    </script>
 

</body>